body {
  background-image: url("../imgs/bg.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "press start 2p";
}
.skull {
  max-width: 14.4rem;
  height: auto;
}
.player {
  max-width: auto;
  height: 18.8rem;
}
footer {
  position: absolute;
  top: 94.3% !important;
}
@media (max-height: 915px) and (max-width: 430px) {
  /* *portrait view */
  body {
    height: 100% !important;
  }
  .container {
    position: absolute !important;
    top: 0 !important;
  }
  .player-choices div button {
    font-size: 0.5em !important;
  }
  .player-choices div {
    width: 100% !important;
  }
  .player-choices div i {
    font-size: 0.5em !important;
  }
  .skull {
    max-width: 10rem !important;
    height: auto !important;
  }
  .player {
    max-width: auto !important;
    height: 10rem !important;
  }
  footer {
    top: 100% !important;
  }
}
@media (max-width: 915px) and (max-height: 430px) {
  /* *landscape */
}
